<div class="container">
				<div class="row">
					<h2 class="head-title text-center">Get Involved</h2>
					<div class="content-in involved full">
						<p>To make this vision a reality, ANF provides opportunity to participate in our projects. The mission of ANF is “To create public interest content, achieve wider distribution and consumption of public interest content, also provide services to support content creation &amp; distribution, create few umbrella brands which provide a sense of common identity to the beneficiaries of the Trust and at the same time allowing and preserving their respective identity and independence.</p>
						<p>We Request you to Please think on these few word of Barak Obama ( On World Press Freedom Day -2015) - <em>"Journalists give all of us as citizens the chance to know the truth about our countries, ourselves, our governments. That makes us better, it makes us stronger, it gives voice to the voiceless, it exposes injustice, and holds leaders like me accountable."</em></p>
						<p>No doubt freedom of the press carries benefit for each and every ordinary Indian and of every class, company and of group.</p>
						<p>We at ANF strive to promote the interest of every citizen.</p>
						<p>For this, we need your support. </p>
						<p>By working with ANF you strengthen us in making people free of lies, of bias, from Propaganda to manufactured misinformation.</p>
						<p>You could help us in developing sustainable models and augment our scalability.  Many CSR opportunities are made available for the companies who choose to partner with us. Below are a few of them:</p>
						<ul>
							<li>-	Strategic philanthropy through funds &amp; in-kind contributions</li>
							<li>-	Cause-marketing initiatives like issue based sponsorship, segment wise media platform development</li>
							<li>-	Events &amp; sponsorship for Seminar, Media-Journalist gathering</li>
							<li>-	Innovations &amp; project solutions for small media, local Journalist and freelance Journalist</li>
						</ul>

						<h3>Volunteering/ Citizen Journalist</h3>
						<p>
						The ANF has made volunteering provisions that will give you the Opportunity to spread the idea of freedom of press   without disturbing your schedule.
						</p>
						<p>
						<strong class="red">Approach</strong><br>
						If you have an idea that you would like to share with us, or if you wish to collaborate with us for volunteering, fundraising and other activities, you can reach us in the following ways:
						</p>
						<p>
						There are various ways in which we can contribute towards Democracy’s progress. Either you can initiate and organise an event at any location where City Khabar has a Presence or you can be part of an event that is organised by the ANF or Citykhabar. The Foundation has/will organised numerous events that have assisted in fundraising to support our cause.
						</p>

						<h3>Simply Donate OR Create Fundraising Campaign</h3>
						<p>
							Yes, Small gestures can have a big impact. Create an impact where it matters. Such as:
						</p><p>
							<strong class="red">Start a Campaign:</strong> Sign in or register and create an online fundraising campaign by filling in the required details.
						</p><p>
							<strong class="red">Create Awareness:</strong> Once the campaign has been created, share the link on Facebook, Twitter and other social media channels and let your friends know.
						</p><p>
							<strong class="red">Raise Funds:</strong> Tell your friends and family that they can support  ANF by contributing to your purposeful campaign.
						</p><p>
							<strong class="red">Make an Impact:</strong> Know that all the funds raised through your campaign will be utilised develop  an ecosystem that accelerates and build public support for the democratic system and enhancing civic education of citizen through digital media and tools in Indian languages.’
						</p>

						<h3>What is a fundraising campaign?</h3>
						<p>You can celebrate special occasions with us or create your own campaign by creating or organising a function in your city, like-
						</p><p>
							<strong class="red">PRESS DAY CELEBRATION</strong> –
						</p><p>
							<strong class="red">CLICK IT WRITE – A BLOGGERS’ AND PHOTOGRAPHERS’ MEET</strong> – <br>
							This was a bloggers' and photographers’ meet, spread over two days, organised by  Foundation at. The participants of the meet spent a whole day with the …………. them various activities. After the event, the participants wrote blogs and created photo galleries of their visit, made them accessible to the public and shared them with us.
						</p><p>
							<strong class="red">OUTRIDE Civic Illiteracy</strong> – <br>
							' OUTRIDE Civic Illiteracy ‘ was a biking event organised by The Foundation in association with Wrangler. Over 300 participants from various biker clubs along with individual bikers wholeheartedly participated in the event. The event was a great success.
						</p><p>
							<strong class="red">A WALL OF HOPE AND JOY</strong> – PHOTOGRAPHY EXHIBITION - A photography exhibition that showcased various images of ………………shot by different photographers from all over the world, was held in ……………… for three days. The exhibit attracted over ……………. visitors.
						</p><p>
							<strong class="red">Make a Difference</strong><br>
							When we conduct such activities and events, you can spread our message in your own way. You could write about your experience while volunteering with us, or visit our kitchens and promote our cause. </p>

						<p class="text-center"><strong>For more details, please contact us at info@anfindia.com</strong></p>
					</div>
				</div>
			</div>
