<div class="container">
				<div class="row">
					<h2  class="mainHeading">Help us deliver the independent journalism, which we, the Indian needs enormously.</h2>
					<div class="col-sm-7">
						<p>The <strong>AUTONOMOUS NEWS FOUNDATION (ANF)</strong> is a public charitable trust registered vide a trust deed executed on January 24, 2018 at the office of the Sub-Registrar, A.R.A-III, Kolkata, West Bengal. </p>
						<p>The ANF is dependent on donations from individual readers and well-wishers and philanthropically-minded individuals and Trusts (who, by law, must be Indian citizens) for the bulk of its revenue. The ANF request to donate the money, large and small, to help us meet current and future expenditure.</p>
						<p><strong>You can donate to us online via Instamojo. If you prefer cheques, please make yours payable to the AUTONOMOUS NEWS FOUNDATION and mail it to:</strong></p>
						<p><strong>Account Section,</strong><br>
							AUTONOMOUS NEWS FOUNDATION, <br>
							Gulmoher, 6C, Middleton Street, <br>
							Kolkata-700071, West Bengal
						</p>
						<p><strong>Kindly note that ANF</strong> has applied for registration to the concerned authority for exemption under Section 12AA (a) of the IT Act, 1961 and awaiting the same, post which the application for 80 80G (5) (vi) of the IT Act 1961 will be made. </p>
					</div>
					<div class="col-sm-5">
						<div class="donate-form">
							<div class="box-shadow full">
								<form>
									<label>Please select a donation amount</label>
									<div class="form-group amount-box">
										<div class="donate-price pricevalue">
											<input id="radio1" name="radio" value="5" type="radio">
											<label for="radio1"><i class="fa fa-rupee-sign"></i> 5</label>
										</div>
										<div class="donate-price pricevalue">
											<input id="radio2" name="radio" value="5" type="radio">
											<label for="radio2"><i class="fa fa-rupee-sign"></i>25</label>
										</div>
										<div class="donate-price pricevalue">
											<input id="radio3" name="radio" value="5" type="radio">
											<label for="radio3"><i class="fa fa-rupee-sign"></i>50</label>
										</div>
										<div class="donate-price pricevalue">
											<input id="radio4" name="radio" value="5" type="radio">
											<label for="radio4"><i class="fa fa-rupee-sign"></i>100</label>
										</div>
										<div class="donate-price pricevalue">
											<input id="radio5" name="radio" value="5" type="radio">
											<label for="radio5"><i class="fa fa-rupee-sign"></i>200</label>
										</div>
										<div class="donate-price pricevalue">
											<input id="radio6" name="radio" value="5" type="radio">
											<label for="radio6"><i class="fa fa-rupee-sign"></i>500</label>
										</div>
										<div class="donate-price full">
											<div class="other-box">
												<input id="enterotheramount" name="paymentamount" class="form-control" placeholder="Other amount" value="" type="text">
											</div>
										</div>
									</div>
									<div class="donate-price check-time full">
										<div class="maxl control-group">
											<label class="control control--radio radio inline">
												<input name="time" value="onetime" type="radio">
												<span> one-time </span>
												<div class="control__indicator onetime-controller activebox"></div>
											</label>
											<label class="control control--radio radio inline">
												<input id="recurring_input" name="time" value="monthly" checked="" type="radio">
												<span>Monthly </span>
												<div class="control__indicator  recurring-controller"></div>
											</label>
											<label class="control control--radio radio inline">
												<input id="yearly_input" name="time" value="yearly" type="radio">
												<span>Yearly </span>
												<div class="control__indicator  recurring-controller"></div>
											</label>
										</div>
									</div>
									<div class="submit-btn full">
										<input type="submit" value="DONATE">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
