<div class="container content-in full">
	<h2>AUTONOMOUS NEWS FOUNDATION (ANF)</h2>
	<p>The Freedom of press remains as vital as ever in the digital age, serving as a basis for democracy and human dignity everywhere. However there is a need for non-commercial platform, tools, quality information and content in Indian languages to meet divers audience needs, that also supports, promote, produce grassroots sustainable longitudinal evaluation of civic knowledge.</p>
	<p>We believe that all citizens not only have the potential but also the right to express their ideas and opinions in their own language.</p>
	<p>We believes that if the press is not allowed to be free in its expression and independent in its production, then people will continue in a twilight sleep of corruption, lies, scepticism and deceit.</p>

	<p><strong><i>ANF has been formed to bring back the editorial and financial independence in the new media by championing on old ethos of journalism in order to provide a holistic and safe environment for freedom of speech to thrive, breathe and live in. </i></strong></p>

	<p><strong>Autonomous News Foundation (ANF)</strong> objective is to promote, create grassroots level initiative for freedom of expression and information. We aim to do so by giving the people an open digital platform where they can, not only be the spectator, silent reader but also informative citizen reporter.</p>
	<p><strong>AUTONOMOUS NEWS FOUNDATION</strong> is a non-profit charitable organization devoted wholly towards the development of independent media, with thrust on citizen centric language Journalism. The Foundation is dedicated in developing and providing content platform in Hindi as well as in other regional Indian languages on digital online space. It also aims to provide constructive, bold, free of bias and prejudices news, views and arguments through its digital property on internet.</p>
	<p><strong>Foundation’s Ethics:</strong><br>
		This Trust, consisting of its Founding Trustees and Trustees and shall serve the Indian community irrespective of caste, class, colour, creed, religion, gender, sexual orientation, disability, political ideology or status of the people involved.
	</p><p>
		ANF brings together a unique set of individuals, each with its own set of ideas and ideals. But collectively they form a structure of like mindedness with only one common agenda- create a media might as the independent spheres of influencers which is free of commercial prejudice and political persuasion.
	</p><p>
		All other activities would be consistent with the central objective of our Trust. The Company/projects which the Trust owns would be managed to ensure that any profits incurred be used to further the central objective; not invest in activities which conflict with the values and principles of the Trust
	</p><p>
		The values and principles of the Trust should be upheld by all the members of the Trust. The Trust declares a subsidiary interest in promoting the causes of freed and independent media and journalism all around India.
	</p>

	<p><strong>Vision &amp; Values</strong><br>
		The vision of ANF is simple. To ensure freedom to the art of journalists expression and independence in their production from vested political propaganda and monopolised commercial pressure.
	</p><p>
		They believe a journalist’s civic morality is rooted in a belief that for a country to be governed with the consent of the governed, then the governed must be made aware and allowed to make opinions about what their governors want them to consent to.
	</p><p>
		In today’s day and dynamics, this ethos of journalism seems to be lost and forgotten. As such the society has become intellectually lethargic and inept continuing in a twilight sleep of corruption, lies, scepticism and deceit.
	</p><p>
		ANF therefore strives to develop, create and produce quality driven constructive information and content in Indian languages across a broad spectrum of both old and new media platforms to cater diverse audience needs and demands. We believe that it is time to bring back the old ethos and provide a sphere for journalists to (re) establish, (re) engage and (re) vitalise a connection with the society and be part of it and not loose its part to the power of governors.
	</p><p>
		Not just journalist but ANF also wants to give voice to the people and their societies by establishing an ecosystem that fosters and accelerates excellence in public interest journalism with focus at local-grass root level, and towards urban-city centric journalism.
	</p><p>
		NAYA INDIA.COM is an integral part of ANF and its slogan ‘Bebaak, bedaak, bemisaal’, were etched the old ethos for the new time. It has meaning beyond the literal. It reflects upon a belief in integrity, fairness and disciplined judgment about the significance of events — qualities that have only grown in importance as the world of news have changed with terrible speed lately. It also reminds that the job of the journalist is to make it their business to find out what is going on under the surface and beyond the horizon, to infer, to deduce, to imagine, and to guess what is going on inside, what this meant yesterday, and what it could mean tomorrow.
	</p><p>
		Believing and therefore taking forward the etched values of NAYA INDIA.COM the trustees of ANF too has adopted and made their value and moral mission to continue fulfilling the vacuum of undiluted, unvarnished truth and opinion for the new, relentlessly aspiring India and to undertake the responsibility of processing the maligned raw news so as to make it intelligible and make the people at large aware of its real significance.
	</p>

	<p><strong>Guiding principles:</strong><br>
		<strong>Independent and free:</strong> The <strong>AUTONOMOUS NEWS FOUNDATION (ANF)</strong> is deeply rooted in the values of the freedom of expression and independence of Media.
	</p>
	<p><strong>Serving every Citizen :</strong> The <strong>AUTONOMOUS NEWS FOUNDATION (ANF)</strong> aim is  to make its  projects broadly accessible to all and to eliminate barriers that could preclude people from accessing or contributing to our projects.</p>
	<p><strong>Stewardship: The AUTONOMOUS NEWS FOUNDATION (ANF)</strong> has been entrusted with stewardship of key assets of the ANF, such as its trademark and grant monies, and, in this role, we must use those assets in the interests of the mission.</p>
	<p><strong>Free speech:</strong> The <strong>AUTONOMOUS NEWS FOUNDATION (ANF)</strong> believes that everyone in India or world  has a right to free access to information and we are proud of content creation, to do the Journalistic work, to compile information and make it available to readers, citizens. </p>
	<p><strong>Independence:</strong> As a non-profit, <strong>AUTONOMOUS NEWS FOUNDATION (ANF)</strong> depends on donations and grants to operate. To ensure independence and freedom from influence, we adhere to a donations policy, refuse donations that might constrain our decision-making and aim for diversity of revenue sources.</p>
	<p><strong>Transparency: AUTONOMOUS NEWS FOUNDATION (ANF)</strong> is determined to become transparent non-profit organizations. For updates about our activities and Contributions, Please see the links on relevant pages.
	</p><p>We provide the following information:</p>
	<p><strong>Transparency in all Financial Information:</strong> On the financial reports page, you will find audited financial statements, detailed financial plans, and our Return.</p>
	<p><strong>Plans:</strong> The Board of Trustees is the ultimate corporate authority in the Foundation where you will find information about Trustees as well as Advisory boards and Management teams.
Policies and Procedures: Beyond key policies like the privacy policy, donor privacy policy and trademark policy, we publish all other key policies and procedures governing the operations of ANF.</p>
	<p>Our fundraising work is public and community-driven as well. Please visit the fundraising press release and Contribution landing page.</p>
  <a href="/about"class="btn btnMoreInfo">Download copy of our brochure</a>
</div>
