<div class="container">
  <h2 class="mainHeading">Our Vision</h2>
  <p>Imagine a media platform, wherein every single District (with urban-semi-urban name) as its independent portal which receives contents from local Journalists, collaborators, and from citizen themselves! City dwellers can freely write, express and raise issues and share contents among their own city peers and community within. Thus creating awareness and spreading civic knowledge for enhancement of real participation in democratic process.</p>
  <blockquote class="text-center orange"><strong>Believe us that is our commitment!</strong></blockquote>
  <p>ANF believes that the main job of journalism is to (re) establish a connection with the society, be part of it and not part of the power that should be monitored. And in times when information is getting disintegrated and crushed, there is an urgent need to rebuild public support for the democratic system and enhancing civic education of citizens. ANF therefore strives to develop, create and produce quality driven constructive information and content in Indian languages across a broad spectrum of media platforms to cater diverse audience needs and demands.
Also to establish an ecosystem that fosters and accelerates excellence in public interest journalism with focus at local-grass root level, and towards urban-city centric journalism, by providing the voice of citizens a platform.
</p>
<p><em>This embodies our dreams, hopes and ambitions for a future in which people get information and create arguments in their own languages, thereby helping and allowing them to take a more informed decision.</em></p>
  <a href="/vision"class="btn btnMoreInfo">View More</a>
</div>
