<div class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="col-sm-8 text-left pull-left">
              <ul class="footerNav">
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
              <p>Copyright &copy; 2018 ANF All Right Reserved. Maintained by <a href="#">Quantumsoftech</a>.</p>
            </div>
            <div class="col-sm-4 pull-right">
              <div class="socialNav">
                <ul class="nav navbar-nav menu-two socialNav">
                  <li class="facebookIcon"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="twitterIcon"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="linkedInIcon"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li class="youtubeIcon"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
              </div>
              <div id="mc_embed_signup">
        				<form action="/home" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
        					<div class="input-group">
        					    <input type="email" value="" placeholder="E-mail address" name="EMAIL" class="required email form-control" id="mce-EMAIL" required>
        					    <span class="input-group-btn">
        						          <input type="submit" class="button btn btn-warning" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
        					    </span>
        					</div>
        				</form>
        			</div>
            </div>
        </div>
    </div> <!--/.footer-bottom-->
</div>
