<div class="container content-in full">
	<h2>Our Mission</h2>
						<p>
						</p><blockquote class="text-left orange"><strong>‘To create, provide and engage people with news and news givers by establishing an unbiased alternative Journalism in Indian languages.’</strong></blockquote>
						<p></p>
						<p>ANF is a non-profit charitable organization devoted wholly towards the development of empowering independent media, with thrust in engaging citizens by creating a platform where Indian languages get recognition and support.
						</p><p>
							The Foundation believes that an enlightened citizenry preserves the sanctity of democracy. For such the aim of the Foundation is to work as a catalyst for bringing sustainable change in local Citizen-centric Journalism to improve understanding of issues of our democratic system and present it through digital tools.
						</p><p>
							We view the creation of ANF akin to opening new media platform on the web for journalists and the people where they can not only read, think, and express in their native language, but at the same time also provide tools, quality information and content in the varying Indian languages.
						</p><p>
							At the forefront the aim of the foundation is to support and empower journalists and reporters and then the individual citizens – who are the human voice of freedom- by adopting independent, nonpartisan Journalistic standards through innovative digital tools.
						</p><p>
							Foundation is to deploy best possible methodology and technology for achieving ideal SROI (social return on investment), to practice and promote good governance, to link business competitiveness of the corporate with social development initiatives and also to promote Civic Driven Change through the Freedom of Press.
							We view the creation of ANF akin to providing the open new media platform on the web for journalists and the people where they can read, think, and express in their own language, tools, quality information and content in each and every language of India across a range of media. Freedom of Press will get, adopt independent, nonpartisan Journalistic standards with technology driven, innovative and scalable change process through the philosophy of civic driven change.
						</p>
</div>
