<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand anfLogo" href="/home"><img src="assets/images/anf-logo.png" alt="Autonomous News Founation"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse ">
      <ul class="nav navbar-nav navbar-right menu-two socialNav">
        <li class="facebookIcon"><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li class="twitterIcon"><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li class="linkedInIcon"><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li class="youtubeIcon"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right menu-one">
        <li [routerLinkActive]="['active']"><a routerLink="/home">Home</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/about">About Us</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/vision">Vision</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/mission">Mission</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/initiatives">Initiatives</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/founders">Founders</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/advisory-board">Advisory Board</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/donate">Donate</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/get-involved">Get Invovled</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/contacts">Contact us</a></li>
      </ul>

    </div>
  </div>
    <!--/.nav-collapse -->
</nav>
