.navbar-default{
  background:rgba(0,0,0,.2);
}
.navbar-toggle{
  margin-top:22px;
}
.anfLogo{
  background:#fff;
  height:auto;
  position:relative;
  padding-top:5px;
  padding-bottom:5px;
  width:150px;
}
.anfLogo:hover{
  background:#fff;
}
.anfLogo img{
    width:100%;
}
.menu-one a{
  font-weight: 700;
  padding:10px;
  color:#6b696a;
}
.navbar-fixed-top{
  background:#fff;
}
.navbar > .container{
  position: relative;
}
.navbar-collapse.in {
  max-height: 100%;
}

.navbar-inverse .navbar-nav.menu-two {
  background: none;
}
.navbar-inverse .navbar-nav.menu-two > li > a {
  color: blue;
}
.navbar-inverse .navbar-nav.menu-two > li > a:hover {
  color: green;
}
.icon-bar{
  background-color:#000!important;
}
@media (min-width: 1200px) {
  .navbar > .container{
    margin-top:-50px;
  }
  .anfLogo{
    width:auto;
  }
  .navbar-collapse {
    float: right;
    width: auto;
  }

  .navbar-inverse {
    border-top: 50px solid #f47822;
    border-bottom:1px solid #dad8d8;
  }

  .navbar-nav:nth-child(2) {
    margin-top: 15px;
    clear: both;

  }

  .navbar-nav:nth-child(1) {
    margin-top: 0;
  }
}
.navbar-nav > a{
  color:#6c6869;
  font-size:16px;
  font-weight:500;
}
.navbar-nav a:hover{
  color:#f47822!important;
}
.navbar-nav > .active > a, .navbar-nav > a:hover{
  color:#f47822;
  background:none;
}
/*Social Nav*/
.socialNav{
  margin: 0 auto;
  text-align: center;
}
.socialNav li{
  display: inline-block;
}
.socialNav a{
  color:#ccc;
}
.socialNav a:hover{
  color:#fff!important;
}
.socialNav .facebookIcon a:hover{
  background:#3b5998;
}
.socialNav .twitterIcon a:hover{
  background:#55acee;
}
.socialNav .linkedInIcon a:hover{
  background:#0077b5;
}
.socialNav .youtubeIcon a:hover{
  background:#b31217;
}
@media (min-width:1200px){
  .socialNav a{
    color:#fff!important;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .navbar-nav {
      margin: 7.5px -15px;
      width:100%;
    }
    .navbar-nav > li{
      float: initial;
    }
    .menu-one > li {
      position: relative;
      display: block;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
