<div class="container content-in full">
  <h2 class="mainHeading">Advisory Board</h2>
						<p>The Advisory Board role is to assist us with fulfilling our mission by providing perspective on our mission, activities and raise our issues of freedom of press and also assist with regards to fundraising.</p>
						<p>
							<strong>Dr Ved Pratap Vaidik</strong><br>
							Chairman - Advisory Board, The AUTONOMOUS NEWS FOUNDATION (ANF)
						</p>
						<p>
							<strong>Mr. Vinit Narayan</strong><br>
							Vice Chairman - Advisory Board
						</p>
					</div>
