<div class="container content-in full">
  <h2 class="mainHeading">Our Vision</h2>
						<p><strong class="red">Imagine a media platform</strong>, wherein every single District (with urban-semi-urban name) as its independent portal which receives contents from local Journalists, collaborators, and from citizen themselves! City dwellers can freely write, express and raise issues and share contents among their own city peers and community within. Thus creating awareness and spreading civic knowledge for enhancement of real participation in democratic process.</p>

            <p class="heightlightedText"><strong><em>Believe us that is our commitment!</em></strong></p>

						<p>ANF believes that the main job of journalism is to (re) establish a connection with the society, be part of it and not part of the power that should be monitored. And in times when information is getting disintegrated and crushed, there is an urgent need to rebuild public support for the democratic system and enhancing civic education of citizens. ANF therefore strives to develop, create and produce quality driven constructive information and content in Indian languages across a broad spectrum of media platforms to cater diverse audience needs and demands. Also to establish an ecosystem that fosters and accelerates excellence in public interest journalism with focus at local-grass root level, and towards urban-city centric journalism, by providing the voice of citizens a platform.
						</p>
						<p><em>This embodies our dreams, hopes and ambitions for a future in which people get information and create arguments in their own languages, thereby helping and allowing them to take a more informed decision.</em></p>
						<p><strong class="red">BELIEF </strong><br>
							No Doubt, Press has become media. Media has become plural. Gone are the days when newspapers and radio channels were our reliable sources of information and communication. The changed time brought with itself a dramatic change to the definition of media (press has been forgotten in oblivion).  For today media is a camouflaged concept encompassing the traditional- newspaper, magazines, tv channels, radio with the new - websites, apps and social ‘interactive’ platforms like facebook, twitter, pintrest, Instagram.
						</p><p>
							But it is with the advent of the new platforms that has changed the DNA of our society and its way of thinking and comprehending. Unpopular ideas and conversations are being encouraged and inconvenient facts glorified through these social media platforms, resulting in creation of a society of intellectual cowardice.
						</p><p>
							As a result today news is lost, views oppressed, opinions discarded and journalism and its tradition is starting to loose its character.
						</p><p>
							The job of journalist is to communicate the political, economic and social arrangements to the people who become public. And the effective way of communicating is having neither the government nor private monopolies holding absolute control.
						</p><p>
							But in such tumultuous and corrupt times the need of the moment is to adapt and reconstruct the definition of ‘media’.
						</p><p>
							New media is a blessing for creativity, for including everyone in new forms of dialogue. New media hold great potential as a resource for press freedom and freedom of expression. Whether old, new or futuristic media, its historical achievement of press freedom is of enduring importance for all platforms and for all citizens. The rights to freedom of expression, information and association are not abstract principles; they are rights that states have an obligation to fulfill.
						</p><p>
							Foundation believes that unless members of the civil society are involved proactively in the process of freedom of expression and information, sustainable change will not happen with regard to civic education and people’s ability to undertake for more informed and collective action.
						</p>
</div>
