<section class="ourObjectsMessage">
<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<h2 class="mainHeading">OUR INITIATIVE  ON OUR OBJECTS</h2>
				<p class="red"> ‘To create/ develop an ecosystem that sets trends, fosters and accelerates excellence in public interest journalism with focus on- local-grass root, urban- public interest journalism where the voice and the concerns of the citizen gets a platform’.</p>

				<p class="red"><em>‘To organize functions- seminars – orientation camps  that allow journalists to work to their best capacities, specifically addressing (a) legal (b) training (c) research and (d) technology requirements… particularly focusing on Indian Languages media’</em></p>
				<p class="red"><em>To grow: India’s editorial leadership on public- interest issues by supporting the work of journalists in the digital or mainstream media, through scholarships, fellowships, awards, direct support or any other support that the trustees may deem fit from time to time’</em></p>
				<p class="red">‘To undertake actions and initiatives to create an ecosystem that accelerates and build public support for the democratic system and enhancing civic education of citizen through digital media and tools in Indian languages.’</p>

				<div class="about-btn full"><a class="btn btnMoreInfo" href="/advisory">View More</a></div>
			</div>

			<div class="col-sm-4 donatationMessageHome">
				<div class="home-donate-box full">
					<div class="anfLogo full text-center">
						<img src="assets/images/anf-logo.png" alt="">
					</div>
					<div class="donate-text full text-center">
						<p>Help us support intrepid journalists to expose corruption and abuse, combat disinformation and ensure the truth prevails. Our work is needed more than ever.</p>
						<div class="donate-btn full text-center"><a class="btn btnMoreBorder" href="/donate">Donate To ANF <i class="fa fa-heart"></i></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
