<section class="welcomeMessage">
  <div class="container">
    <h2 class="mainHeading">Welcome To Autonomous News Foundation (ANF)</h2>
    <p>The Freedom of press remains as vital as ever in the digital age, serving as a basis for democracy and human dignity everywhere. However there is a need for non-commercial platform, tools, quality information and content in Indian languages to meet divers audience needs, that also supports, promote, produce grassroots sustainable longitudinal evaluation of civic knowledge.</p>
    <p>We believe that all citizens not only have the potential but also the right to express their ideas and opinions in their own language.</p>
    <a href="/about"class="btn btnMoreInfo">View More</a>
  </div>
</section>
