<div class="container content-in full">
  <h2>Founders</h2>
						<p class="red"> <em>"Journalism needs daunting courage, infused with human warmth, a generous spirit, coupled with fierce intellect, to see good as to suspect wrong, to find hope as well as cynicism"</em></p>
						<p>The <strong>AUTONOMOUS NEWS FOUNDATION (ANF)</strong> is incorporated with Two Founding Trustees. Foundation is managed by The Board of  Trustees Trustees and  Board of Advisors comprising individuals from diverse backgrounds and expertise.</p>
						<h4>THE Founding Trustees </h4>
						<div class="box-shadow pad15 full">
							<h3>Mr. HARI SHANKAR VYAS – Journalist-Editor with daunting courage</h3>
							<p>Mr. Hari Shankar Vyas is a noted figure in contemporary Hindi Journalism.  With a career spanning of over 45 years, Mr. Vyas has been a fearless journalist with a daunting intellect, unwavering diligence and staunch commitment to Hindi journalistic excellence. He has always worked on how to make Journalism popular, ethical and defiant, especially Hindi journalism. He is by and by an altrustic Journalist. </p>
						</div>
						<div class="box-shadow pad15 full">
							<h3>Mr. SUNIL SARAOGI- Infuser of Management</h3>
							<p>MR. SUNIL SARAOGI is by occupation a businessman from Kolkata.  He has concerned, about the shredded democratic system with the lack of accurate, honest and free media and the subsequent impact it is having on public. This worry has prompted him to be that infuser of management intellect in foundation of ANF’s objectives.  </p>
						</div>
						<h3>Board of Trustees</h3>
						<p>The ANF Board of Trustees oversees the foundation and its work, as its ultimate corporate authority. The board is formed for a period of Three year and a few independent members of eminence and reputation are nominated each year. Members of Trust meet once every quarter.</p>
						<ul>
							<li><strong>Mr. Hari Shankar Vyas</strong>  - Founding Trustee</li>
							<li><strong>Mr. Sunil Saraogi</strong>   -  Founding Trustee</li>
							<li><strong>Mr. Ajeet Diwedi</strong></li>
						</ul>
					</div>
