<section class="missionMessage">
  <div class="container">
    <h2 class="mainHeading">Our Mission</h2>
    <h2 class="subHeading">To create and provide bespoke, unbiased  quality driven alternative Journalism in Indian languages for diverse  audience needs.</h2>
    <p>At the forefront the foundation aims to empower journalists and reporters and then the individual citizens – who are the human voice of freedom through digital tools, relevant training, innovative ideas and self-sustainable –opportunity and programmes.</p>
    <p>Foundation is to deploy best possible methodology and technology for achieving ideal SROI (social return on investment), to practice and promote good governance, to link business competitiveness of the corporate with social development initiatives and also to promote Civic Driven Change through the Freedom of Press.</p>
    <p>The Foundation believes that an enlightened citizenry preserves the sanctity of democracy. For such the aim of the Foundation is to work as a catalyst for bringing sustainable change in local Citizen-centric Journalism to improve understanding of issues of our democratic system and present it through digital tools.</p>
    <a href="/mission"class="btn btnMoreWhite">View More</a>
  </div>
</section>
